# npm ignores
/node_modules
/package*/
/tmp
/nodenv-nodenv-*.tgz

# ignores that would affect installation (via git)

# nodenv
/plugins
/shims
/version
/versions
/.node-version

# node-build ignores
/sources
/cache

# nodenv-default-packages plugin
/default-packages
