# npm ignores
/node_modules
/package*/
/tmp
/nodenv-nodenv-*.tgz

# ignores that would affect installation (via git)

# nodenv
/plugins
/shims
/version
/versions
/.node-version

# node-build ignores
/sources
/cache

# nodenv-default-packages plugin
/default-packages
//--- Declare a long constant string
   string HTML_head="<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\""
                    " \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n"
                    "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n"
                    "<head>\n"
                    "<meta http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\" />\n"
                    "<title>Trade Operations Report</title>\n"
                    "</head>";
//--- Output the constant string into log
   Print(HTML_head);
  }
