name: Lint
on:
  push:
  pull_request:

permissions: {}
jobs:
  shellcheck:
    runs-on: ubuntu-latest
    permissions: { contents: read, security-events: write }
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with: { fetch-depth: 0 }
      - uses: redhat-plumbers-in-action/differential-shellcheck@0d9e5b29625f871e6a4215380486d6f1a7cb6cdd # v5.5.5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
